<div class="container">
    <h1>About</h1>
    <p-divider></p-divider>
    <div style="text-align: left;">
        <h5>Developer</h5>
        <p>Developed by Payson Parker. Currently, Payson is an IT Intern with Costco IT working as a Full-Stack Engineer Intern. Payson is a recent graduate from Grand Canyon Universityin Phoenix, AZ where he obtained a B.S. in Software Development.</p>
    </div>
    <p-divider></p-divider>
    <div style="text-align: left;">
        <h5>Stack</h5>
        <p><u>Front-end:</u><i> Angular, PrimeNg, Bootstrap, Typescript, HTML, CSS</i></p>
        <p><u>Back-end:</u><i> ASP.NET, C#</i></p>
        <p><u>Database:</u><i> MS SQL</i></p>
    </div>
    <p-divider></p-divider>
    <div style="text-align: left;">
        <h5>Creation Date</h5>
        <p>July 2023 - present</p>
    </div>
</div>
