<p>golf-course-edit works!</p>
<div class="card flex flex-column gap-3 p-4" style="text-align: center; max-width: 50rem;margin: auto;margin-top: 3rem;">
    <div class="p-inputgroup">
        <input pInputText placeholder="Username" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">$</span>
        <input type="text" pInputText placeholder="Price" />
        <span class="p-inputgroup-addon">.00</span>
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">www</span>
        <input type="text" pInputText placeholder="Website" />
    </div>
</div>