<div  style="text-align: center; max-width: 50rem;margin: auto;margin-top: 1rem;">
    <p-card header="{{golfCourse.name}}" subheader="{{golfCourse.location}}">
        <ng-template pTemplate="content">
            <h4>{{golfCourse.yardage}} yards</h4>
            <h4>Par: {{golfCourse.par}}</h4>
            <h4>{{golfCourse.courseRating}}/{{golfCourse.slopeRating}}</h4>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button (click)="onEditButtonClick()" label="Edit" icon="pi pi-pencil"></p-button>
            
            <p-button (click)="onDeleteButtonClick()" label="Delete" icon="pi pi-trash" styleClass="p-button-danger" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>